.details-button {
	color: #FFEEFF;
	font-size: 12px;
	border-radius: 4px;
	background-color: #0000BB;
	border: none;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
}

.details-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-size: 15px;
}

.details-button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.details-button:hover span {
	padding-right: 25px;
}

.details-button:hover span:after {
	opacity: 1;
	right: 0;
}

.inexperienced-display {
	margin-top:40px;
	margin-bottom: 40px;
	text-align: center;
}
